@model IEnumerable<Members.Models.ImageViewModel>

@{
    ViewData["Title"] = $"Gallery: {ViewBag.GalleryName}";
}

<h1 class="text-center text-gold-darker my-2">Gallery: @ViewBag.GalleryName</h1>

<div class="text-center mb-3">
    <a asp-controller="Image" asp-action="GalleryList" class="btn btn-sm btn-secondary"><i class="bi bi-box-arrow-left"></i> Back to Galleries</a>
</div>

<div class="text-center mb-3">
    <h5 class="text-gold-dark">(Click to Enlarge)</h5> 
</div>

@if (TempData["SuccessMessage"] != null)
{
    //<div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    //<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<div class="row gx-2 gy-0 m-1">
    @if (Model != null && Model.Any())
    {
        foreach (var image in Model)
        {
            <div class="col-md-6 col-lg-4 col-xl-2 mb-4">
                <div class="card shadow rounded p-2 bg-Card-Menu h-100">
                    <a asp-controller="Image" asp-action="ImageView" asp-route-galleryName="@image.GalleryName" asp-route-fileName="@image.FileName">
                        <img src="@image.ThumbnailUrl" class="card-img-top img-fluid" alt="@image.FileName" style="width: 100%; height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body text-center">
                        <p class="card-text">@System.IO.Path.GetFileNameWithoutExtension(image.FileName)</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12 text-center text-gold-dark">
            <p>This gallery is empty.</p>
        </div>
    }
</div>