@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Members.Areas.Identity.Pages.UsersGridModel
@{
    ViewData["Title"] = "Edit Members - Extended";
    
    string siteName = Environment.GetEnvironmentVariable("SITE_NAME")!;
}

<head>
    <title>@ViewData["Title"]</title>
    <style>
        .table-striped tbody tr.user-row:nth-of-type(odd):hover,
        .table-striped tbody tr.user-row:nth-of-type(even):hover,
        tbody tr.user-row:hover {
            cursor: pointer;
            border: 2px solid green;
        }
    </style>
</head>

@* <!-- Banner Logo -->
<partial name="_PartialBannerLogo" />
 *@
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
{
    <div class="container my-4">
        <div class="row align-items-center mb-3">
            <div class="col-auto d-flex align-items-center">
                <h1 class="text-gold-darker">
                    <i class="bi bi-people-fill"></i> Members
                </h1>
            </div>
        </div>

        <div class="mb-3">
            <h6 class="text-gold-darker mb-1 ps-2">(Also: "Bad", "No Role" and "Not Confirmed")</h6>
            <form method="get" id="searchForm">
                <div class="input-group">
                    <button class="btn btn-sm btn-info" type="submit" id="searchButton"><i class="bi bi-search"></i></button>
                    <input type="text" class="form-control text-gold-darker" placeholder="Search..." asp-for="SearchTerm" id="searchInput" />
                    @* Include hidden inputs for current pagination and sorting state *@
                    <input type="hidden" asp-for="PageNumber" />
                    <input type="hidden" asp-for="PageSize" />
                    <input type="hidden" asp-for="SortColumn" />
                    <input type="hidden" asp-for="SortOrder" />
                    <button class="btn btn-sm btn-outline-secondary bg-success-subtle" type="button" id="clearSearch" style="display: none;">
                        <i class="bi bi-x text-black"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- Display Total Users count -->
        <div class="mb-2">
            <span id="userCount">Total Users: @Model.TotalUsers</span>
        </div>

        <div class="table-responsive mb-3">
            <table class="table table-striped table-bordered" data-search-term="@Model.SearchTerm">
                <thead>
                    <tr>
                        <th>
                            <!-- Full Name -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="fullname"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "fullname" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Full Name
                                @if (Model.SortColumn == "fullname")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Email -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="email"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "email" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Email
                                @if (Model.SortColumn == "email")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Email Confirmed -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="emailconfirmed"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "emailconfirmed" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Email <i class="bi bi-check-lg text-success"></i>
                                @if (Model.SortColumn == "emailconfirmed")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Phone Number -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="phonenumber"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "phonenumber" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Phone Number
                                @if (Model.SortColumn == "phonenumber")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Phone Number Confirmed -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="phonenumberconfirmed"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "phonenumberconfirmed" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Phone <i class="bi bi-check-lg text-success"></i>
                                @if (Model.SortColumn == "phonenumberconfirmed")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- First Name -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="firstname"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "firstname" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                First Name
                                @if (Model.SortColumn == "firstname")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>                            
                        <th>
                            <!-- Middle Name -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="middlename"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "middlename" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Middle Name
                                @if (Model.SortColumn == "middlename")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Last Name -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="lastname"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "lastname" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Last Name
                                @if (Model.SortColumn == "lastname")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Address Line 1 -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="addressline1"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "addressline1" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Address Line 1
                                @if (Model.SortColumn == "addressline1")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Address Line 2 -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="addressline2"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "addressline2" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Address Line 2
                                @if (Model.SortColumn == "addressline2")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- City -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="city"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "city" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                City
                                @if (Model.SortColumn == "city")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- State -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="state"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "state" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                State
                                @if (Model.SortColumn == "state")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Zipcode -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="zipcode"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "zipcode" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Zipcode
                                @if (Model.SortColumn == "zipcode")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Plot -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="plot"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "plot" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Plot
                                @if (Model.SortColumn == "plot")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Birthday -->
                            <a class="nav-link" 
                                asp-page="./UsersGrid" 
                                asp-route-sortcolumn="birthday" 
                                asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "birthday" ? "desc" : "asc")" 
                                asp-route-searchterm="@Model.SearchTerm"
                                asp-route-pageNumber="@Model.PageNumber"
                                asp-route-pageSize="@Model.PageSize">
                                >
                                Birthday
                                @if (Model.SortColumn == "birthday")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Anniversary -->
                            <a class="nav-link" 
                                asp-page="./UsersGrid" 
                                asp-route-sortcolumn="anniversary" 
                                asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "anniversary" ? "desc" : "asc")" 
                                asp-route-searchterm="@Model.SearchTerm"
                                asp-route-pageNumber="@Model.PageNumber"
                                asp-route-pageSize="@Model.PageSize">
                                Anniversary
                                @if (Model.SortColumn == "anniversary")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>                        
                        <th>
                            <!-- Roles -->
                            <a class="nav-link" 
                                asp-page="./UsersGrid" 
                                asp-route-sortcolumn="roles" 
                                asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "roles" ? "desc" : "asc")" 
                                asp-route-searchterm="@Model.SearchTerm"
                                asp-route-pageNumber="@Model.PageNumber"
                                asp-route-pageSize="@Model.PageSize">                                
                                Roles
                                @if (Model.SortColumn == "roles")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <!-- Last Login Date -->
                            <a class="nav-link"
                               asp-page="./UsersGrid"
                               asp-route-sortcolumn="lastlogin"
                               asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "lastligin" ? "desc" : "asc")"
                               asp-route-searchterm="@Model.SearchTerm"
                               asp-route-pageNumber="@Model.PageNumber"
                               asp-route-pageSize="@Model.PageSize">
                                Last Login
                                @if (Model.SortColumn == "lastlogin")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                    </tr>
                </thead>
                @* Fix for CS8602: Ensure Model.Users is not null before iterating *@  
                @if (Model.Users != null)  
                {  
                    @foreach (var user in Model.Users)  
                    {  
                        <tr class="user-row" data-user-id="@user.Id">  
                            <td>@user.FullName</td>  
                            <td>@user.Email</td>  
                            <td>@if (user.EmailConfirmed)  
                                {  
                                    <i class="bi bi-check-lg text-success"></i>  
                                }</td>  
                            <td>@user.PhoneNumber</td>  
                            <td>@if (user.PhoneNumberConfirmed)  
                                {  
                                    <i class="bi bi-check-lg text-success"></i>  
                                }</td>  
                            <td>@user.FirstName</td>  
                            <td>@user.MiddleName</td>  
                            <td>@user.LastName</td>  
                            <td>@user.AddressLine1</td>  
                            <td>@user.AddressLine2</td>  
                            <td>@user.City</td>  
                            <td>@user.State</td>  
                            <td>@user.ZipCode</td>  
                            <td>@user.Plot</td>  
                            <td>@user.Birthday</td>  
                            <td>@user.Anniversary</td>  

                            <!-- Roles -->  
                            <td>  
                                @if (user.Roles != null)  
                                {  
                                    @foreach (var role in user.Roles)  
                                    {  
                                        <span>@role</span>  
                                        <br />  
                                    }  
                                }                            
                            </td>  

                            <!-- Last Login Date -->  
                            <td data-utc-time="@user.LastLogin?.ToString("yyyy-MM-ddTHH:mm:ssZ")" class="local-login-time">  
                                <!-- The JavaScript will update this content -->  
                                @user.LastLogin?.ToString("yyyy-MM-dd HH:mm:ss UTC")  
                            </td>  
                        </tr>  
                    }  
                }
            </table>
        </div>

        <!-- Pagination Control -->
        @{
            var totalPages = Model.TotalPages;
            var currentPage = Model.PageNumber;
            var pageDisplayLimit = 5; // Set the desired number of pages to display

            // Calculate the start and end pages to display
            var startPage = Math.Max(1, currentPage - (int)Math.Floor((double)pageDisplayLimit / 2));
            var endPage = Math.Min(totalPages, startPage + pageDisplayLimit - 1);

            // Adjust startPage if endPage was capped by totalPages
            if (endPage - startPage + 1 < pageDisplayLimit)
            {
                startPage = Math.Max(1, endPage - pageDisplayLimit + 1);
            }
        }

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @* Previous Page Button *@
                <li class="page-item @(currentPage <= 1 ? "disabled" : "")">
                    <a class="page-link" asp-page="./Users"
                       asp-route-PageNumber="@(currentPage - 1)"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortColumn="@Model.SortColumn"
                       asp-route-SortOrder="@Model.SortOrder"
                       asp-route-SearchTerm="@Model.SearchTerm">
                        &laquo;
                    </a>
                </li>

                @* Page Links *@
                @for (var i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" asp-page="./Users"
                           asp-route-PageNumber="@i"
                           asp-route-PageSize="@Model.PageSize"
                           asp-route-SortColumn="@Model.SortColumn"
                           asp-route-SortOrder="@Model.SortOrder"
                           asp-route-SearchTerm="@Model.SearchTerm">
                            @i
                        </a>
                    </li>
                }

                @* Next Page Button *@
                <li class="page-item @(currentPage >= totalPages ? "disabled" : "")">
                    <a class="page-link" asp-page="./Users"
                       asp-route-PageNumber="@(currentPage + 1)"
                       asp-route-PageSize="@Model.PageSize"
                       asp-route-SortColumn="@Model.SortColumn"
                       asp-route-SortOrder="@Model.SortOrder"
                       asp-route-SearchTerm="@Model.SearchTerm">
                        &raquo;
                    </a>
                </li>
            </ul>
        </nav>

    </div>
}
else
{
    <div class="text-center mt-4">
        <p class="mb-1">This is an Admin area of @siteName.</p>
        <p class="mb-2">Please Login with Administration credentials.</p>
        <a class="nav-link text-gold fs-3" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}

@section Scripts {  
    <script>  
        const searchInput = document.getElementById('searchInput');  
        const clearSearch = document.getElementById('clearSearch');  
        const searchButton = document.getElementById('searchButton');  
        const searchForm = document.getElementById('searchForm');  
        const userCountSpan = document.getElementById('userCount');  
        const userTable = document.querySelector('.table');  

        searchInput.addEventListener('input', function() {  
            clearSearch.style.display = this.value ? 'block' : 'none';  
        });  

        clearSearch.addEventListener('click', function() {  
            searchInput.value = '';  
            clearSearch.style.display = 'none';  
            // When clearing search, redirect to the base page, resetting pagination and sorting  
            window.location.href = window.location.pathname;  
        });  

        // Added event listener for Enter key  
        searchInput.addEventListener('keydown', function(event) {  
            if (event.key === 'Enter') {  
                event.preventDefault(); // Prevent default form submission  
                searchButton.click(); // Trigger the search button click  
            }  
        });  

        clearSearch.style.display = searchInput.value ? 'block' : 'none';  

        document.addEventListener('DOMContentLoaded', function () {  
            const userTable = document.getElementById('userTable');  
            if (userTable) {  
                const tableRows = userTable.querySelectorAll('tbody tr.user-row');  

                tableRows.forEach(row => {  
                    row.addEventListener('click', function () {  
                        const userId = this.dataset.userId;  
                        const searchTerm = userTable.dataset.searchTerm || '';  

                        // Construct the return URL including current page, sort, and filter  
                        const currentPage = "@Model.PageNumber";  
                        const pageSize = "@Model.PageSize";  
                        const sortColumn = "@Model.SortColumn";  
                        const sortOrder = "@Model.SortOrder";  

                        let returnUrl = `${window.location.pathname}?PageNumber=${currentPage}&PageSize=${pageSize}`;  

                        if (sortColumn) {  
                            returnUrl += `&SortColumn=${sortColumn}&SortOrder=${sortOrder}`;  
                        }  
                        if (searchTerm) {  
                            returnUrl += `&SearchTerm=${encodeURIComponent(searchTerm)}`;  
                        }  

                        window.location.href = `/Identity/EditUser?id=${userId}&returnUrl=${encodeURIComponent(returnUrl)}`;  
                    });  
                });  
            }  
        });  

        document.addEventListener('DOMContentLoaded', function () {  
            const lastLoginElements = document.querySelectorAll('.local-login-time');  

            lastLoginElements.forEach(function (element) {  
                const utcTimeString = element.getAttribute('data-utc-time');  
                if (utcTimeString) {  
                    const utcDate = new Date(utcTimeString);  
                    element.textContent = utcDate.toLocaleString();  
                } else {  
                    element.textContent = 'Never';  
                }  
            });  
        });  

    </script>      
}
