@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model Members.Areas.Identity.Pages.UsersGridModel
@{
    ViewData["Title"] = "Members Grid";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Users";
    ViewData["OGTitle"] = "Edit Members";
    ViewData["OGDescription"] = "Oaks-Village Edit Members";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Users";
}

<head>
    <title>@ViewData["Title"]</title>
    <style>
        .table-striped tbody tr.user-row:nth-of-type(odd):hover,
        .table-striped tbody tr.user-row:nth-of-type(even):hover,
        tbody tr.user-row:hover {
            cursor: pointer;
            border: 2px solid green;
        }
    </style>
</head>

<div class="container row m-0 ps-0 pb-2 pb-lg-4 gx-0 gy-2 gy-lg-3 mx-auto text-center">
    <div class="col-12 mt-0 ps-0">
        <partial name="_LargeLogo" />
    </div>
</div>

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
{
    <div class="container my-4">
        <div class="row align-items-center mb-3">
            <div class="col-auto d-flex align-items-center">
                <h1 class="text-gold-darker">
                    <i class="bi bi-people-fill"></i> Members
                </h1>
            </div>
        </div>

        <div class="mb-3">
            <h6 class="text-gold-darker mb-1 ps-2">(Also: "Bad", "No Role" and "Not Confirmed")</h6>
            <form method="get" id="searchForm">
                <div class="input-group">
                    <button class="btn btn-sm btn-info" type="submit" id="searchButton"><i class="bi bi-search"></i></button>
                    <input type="text" class="form-control" placeholder="Search..." asp-for="SearchTerm" id="searchInput" />
                    <button class="btn btn-sm btn-outline-secondary bg-success-subtle" type="button" id="clearSearch" style="display: none;">
                        <i class="bi bi-x text-black"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="mb-2">
            <span id="userCount"></span>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered" data-search-term="@Model.SearchTerm">
                <thead>
                    <tr>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="fullname" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "fullname" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Full Name
                                @if (Model.SortColumn == "fullname")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="email" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "email" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Email
                                @if (Model.SortColumn == "email")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="emailconfirmed" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "emailconfirmed" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Email <i class="bi bi-check-lg text-success"></i>
                                @if (Model.SortColumn == "emailconfirmed")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="phonenumber" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "phonenumber" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Phone Number
                                @if (Model.SortColumn == "phonenumber")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="phonenumberconfirmed" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "phonenumberconfirmed" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Phone <i class="bi bi-check-lg text-success"></i>
                                @if (Model.SortColumn == "phonenumberconfirmed")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="fullname" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "firstname" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                First Name
                                @if (Model.SortColumn == "firstname")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="middlename" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "middlename" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Middle Name
                                @if (Model.SortColumn == "middlename")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="lastname" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "lastname" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Last Name
                                @if (Model.SortColumn == "lastname")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="addressline1" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "addressline1" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Address Line 1
                                @if (Model.SortColumn == "addressline1")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="addressline2" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "addressline2" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Address Line 2
                                @if (Model.SortColumn == "addressline2")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="city" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "city" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                City
                                @if (Model.SortColumn == "city")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="state" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "state" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                State
                                @if (Model.SortColumn == "state")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="zipcode" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "zipcode" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Zip Code
                                @if (Model.SortColumn == "zipcode")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="plot" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "plot" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Plot
                                @if (Model.SortColumn == "plot")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="birthday" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "birthday" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Birthday
                                @if (Model.SortColumn == "birthday")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="anniversary" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "anniversary" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Anniversary
                                @if (Model.SortColumn == "anniversary")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>                        
                        <th>
                            <a class="nav-link" asp-page="./UsersGrid" asp-route-sortcolumn="roles" asp-route-sortorder="@(Model.SortOrder == "asc" && Model.SortColumn == "roles" ? "desc" : "asc")" asp-route-searchterm="@Model.SearchTerm">
                                Roles
                                @if (Model.SortColumn == "roles")
                                {
                                    @if (Model.SortOrder == "asc")
                                    {
                                        @Html.Raw("&#9650;")
                                    }
                                    else
                                    {
                                        @Html.Raw("&#9660;")
                                    }
                                }
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr class="user-row" data-user-id="@user.Id">
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>@if (user.EmailConfirmed)
                                {
                                    <i class="bi bi-check-lg text-success"></i>
                                }</td>
                            <td>@user.PhoneNumber</td>
                            <td>@if (user.PhoneNumberConfirmed)
                                {
                                    <i class="bi bi-check-lg text-success"></i>
                                }</td>
                            <td>@user.FirstName</td>
                            <td>@user.MiddleName</td>
                            <td>@user.LastName</td>
                            <td>@user.AddressLine1</td>
                            <td>@user.AddressLine2</td>
                            <td>@user.City</td>
                            <td>@user.State</td>
                            <td>@user.ZipCode</td>
                            <td>@user.Plot</td>
                            <td>@user.Birthday</td>
                            <td>@user.Anniversary</td>
                            <td>
                                @if (user.Roles != null)
                                {
                                    @foreach (var role in user.Roles)
                                    {
                                        <span>@role</span>
                                        <br />
                                    }
                                }
                            
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="text-center mt-4">
        <p class="mb-1">This is an Admin area of Oaks-Village.com.</p>
        <p class="mb-2">Please Login with Administration credentials.</p>
        <a class="nav-link text-gold fs-3" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}

@section Scripts {
    <script>
        const searchInput = document.getElementById('searchInput');
        const clearSearch = document.getElementById('clearSearch');
        const searchButton = document.getElementById('searchButton');
        const searchForm = document.getElementById('searchForm');
        const userCountSpan = document.getElementById('userCount');
        const tableRows = document.querySelectorAll('.table tbody tr.user-row'); // Select the clickable rows
        const userTable = document.querySelector('.table'); // Get the table element

        searchInput.addEventListener('input', function() {
            clearSearch.style.display = this.value ? 'block' : 'none';
        });

        clearSearch.addEventListener('click', function() {
            searchInput.value = '';
            clearSearch.style.display = 'none';
            window.location.href = window.location.pathname;
        });

        // Added event listener for Enter key
        searchInput.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent default form submission
                searchButton.click(); // Trigger the search button click
            }
        });

        clearSearch.style.display = searchInput.value ? 'block' : 'none';

        function updateUserCount() {
            const userRows = document.querySelectorAll('table tbody tr');
            userCountSpan.textContent = `User Count: ${userRows.length}`;
        }

        updateUserCount();

        searchForm.addEventListener('submit', function() {
            setTimeout(updateUserCount, 100);
        });

        // Add click event listener to each table row
            tableRows.forEach(row => {
                row.addEventListener('click', function() {
                const userId = this.dataset.userId;
                const searchTerm = userTable.dataset.searchTerm || '';
                const currentUrl = window.location.pathname + window.location.search; // Get the current URL (including query parameters)
                window.location.href = `/Identity/EditUser?id=${userId}&searchTerm=${searchTerm}&returnUrl=${encodeURIComponent(currentUrl)}`;
            });
        });
    </script>
}