﻿@using Microsoft.AspNetCore.Identity
@using System.IO;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.ViewComponents;
@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@using System.Threading.Tasks;
@using System.Collections.Generic
@using Members.Data;
@using Members.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Members.Data.ApplicationDbContext DbContext

@{
    // Only fetch UserProfile if user is signed in
    Members.Models.UserProfile? userProfile = null; // Change to nullable type
    if (SignInManager.IsSignedIn(User))
    {
        var userId = UserManager.GetUserId(User);
        if (!string.IsNullOrEmpty(userId))
        {
            userProfile = DbContext.UserProfile.FirstOrDefault(up => up.UserId == userId);
        }
    }
}

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container my-4 mx-2 ps-0 text-center">
    <div class="row gx-0 gy-0 justify-content-center">
        <div class="col-md-4 pe-0">
            <div class="row gx-0 gy-0 text-start">
                <div class="col-12 my-3">
                    <a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="bi bi-person-fill"></i> Profile</a>
                </div>
                
                <div class="col-12 my-3">
                    <a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"><i class="bi bi-envelope-fill"></i> Email</a>
                </div>
           
                <div class="col-12 my-3">
                    <a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="bi bi-lock-fill"></i> Password</a>
                </div>
            
                <div class="col-12 my-3">
                    <a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"><i class="bi bi bi-shield-fill-check"></i> Two-factor authentication</a>
                </div>           

                @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Member"))
                    {
                    @if (userProfile != null && userProfile.IsBillingContact && (User.IsInRole("Member")))
                    {
                        <div class="col-12 my-3">
                                <a class="p-2 nav-pill-link text-decoration-none rounded-2" asp-area="Member" asp-page="/MyBilling" id="MyBilling" title="My Billing"><i class="bi bi-card-list"></i> My Billing</a>
                            </div>                        
                        }
                    }
                </div>

            @* <ul class="nav nav-pills flex-column mb-2 me-0 ms-3 text-start"> *@
               @*  <li class="nav-item mb-2"><a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="bi bi-person-fill"></i> Profile</a></li>
                <li class="nav-item my-2"><a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"><i class="bi bi-envelope-fill"></i> Email</a></li>
                <li class="nav-item my-2"><a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="bi bi-lock-fill"></i> Password</a></li>
                <li class="nav-item my-2"><a class="p-2 text-decoration-none rounded-2 nav-pill-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"><i class="bi bi bi-shield-fill-check"></i> Two-factor authentication</a></li>
                *@

                @* Take the following line out with the leading bracket (and ending bracket below) for Members to see *@
                @* @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Member")) *@
                @* { *@
                    @* @if (userProfile != null && userProfile.IsBillingContact && (User.IsInRole("Member"))) *@
                    @* { *@
                        @* <li class="nav-item my-2">
                            <a class="p-2 nav-pill-link text-decoration-none rounded-2" asp-area="Member" asp-page="/MyBilling" id="MyBilling" title="My Billing"><i class="bi bi-card-list"></i> My Billing</a>
                        </li> *@
                    @* }
                }
            </ul> *@
        </div>
        <div class="col-md-8 container pe-0">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
